.body {
  box-sizing: border-box;
  box-sizing: inherit;
  width: 100vw;
  max-width: 100vw;
}

.header {
  width: 100%;
  max-width: 1920px;
  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__menu {
  list-style-type: none;
  margin: none;
  padding: none;
  display: flex;
  gap: 10vw;
}
.header__item-link {
  text-decoration: none;
}
.header__main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
